#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# import standard compile flags
include /usr/share/dpkg/buildflags.mk

# define imx kernel header directory
IMXHDR=/usr/include/imx-kernel-api

%:
	dh $@ --parallel

override_dh_auto_clean:
	dh_auto_clean
	find . -name "*.o" -delete -print

override_dh_auto_build:
	dh_auto_build -- PLATFORM=IMX6Q INCLUDE="-I$(IMXHDR)" CFLAGS="$(CFLAGS)"

override_dh_auto_install:
	dh_auto_install -- PLATFORM=IMX6Q DEST_DIR="$(CURDIR)/debian/tmp"

override_dh_install:
	dh_install --fail-missing
